
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  *{
    padding: 0;
    margin: 0;
  }
body{
    background-color: #f2f2f2;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* Header style */


header nav{
    margin: 1.5rem 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
header nav div img{
    width: 48px;
    height: 48px;
}
header nav .menu ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
header nav div ul li{
    list-style: none;
}
   nav div ul li a{
    text-decoration: none;
}
header nav button{
    padding: 10px 32px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    color: #ffffff;
}
header .m-img{
    display: none;
}
header .dd i{
    display: none;
}

/* hero style */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero .content {
    max-width: 50%;
}
.hero .content .title{
    font-size: 3rem;
    padding: 0 2rem;
}
.hero .content p{
    padding: 2rem;
}
.hero .content button{
    background-color: black;
    color: #f2f2f2;
    padding: 10px 32px;
    margin: 0 2rem;
    border-radius: 8px;
}
.hero img{
   width: 50%;
}









/* mobile responsive */

@media screen and (max-width: 576px){
    body{
        background-color: #ffffff;
    }
    /* header responsive */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid orange;
        padding: 0.5rem;
        
    }
    header nav{
        display: none;
    }
    header .m-img{
        display: block;
        height: 2.5rem;
        width: 2.5rem;
    }
    header .dd i{
        display: block;
        font-size: 1.5rem;
    }

    /* hero responsive */
    .hero{
        flex-direction: column;
        justify-content: center;
    }
    .hero .content {
        max-width:100%;
        text-align: center;
        order: 1;
        
    }
    .hero .content .title{
        font-size: 2rem;
        
    }
    .hero img{
        width: 50%;
        margin: 1rem;
     }
}