
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  *{
    padding: 0;
    margin: 0;
  }
body{
    background-color: #f2f2f2;
    box-sizing: border-box;
}
main{
    max-width: 1200px;
    margin: 0 auto;
}
/* Header style */


header nav{
    margin: 1.5rem 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
header nav div img{
    width: 48px;
    height: 48px;
}
header nav .menu ul{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
header nav div ul li{
    transition: 2s;
    list-style: none;
}
header nav div ul li:hover a{
    padding: 10px 32px;
    background-color: orange;
    border-radius: 8px;
    color: #ffffff;
    transition: .5s;
}
header nav div ul li a{
    text-decoration: none;
}
header nav div ul li .a1{
    color: orange;
}
header nav div ul li .a2{
    color: skyblue;
}
header nav div ul li .a3{
    color: #05D4DF;
}
header nav div ul li .a4{
    color: #5D58EF;
}
header nav button{
    padding: 10px 32px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    transition: .5s;
}
header nav button:hover{
    padding: 10px 32px;
    background-color: rgb(17, 141, 224);
    border: none;
    border-radius: 8px;
    color: #ffffff;
    transition: .5s;
}
header .m-img{
    display: none;
}
header .dd i{
    display: none;
}

/* hero style */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.hero .content {
    max-width: 50%;
}
.hero .content .title{
    font-size: 3rem;
    padding: 0 2rem;
}
.hero .content p{
    padding: 2rem;
}
.hero .content button{
    background-color: black;
    color: #f2f2f2;
    padding: 10px 32px;
    border: none;
    margin: 0 2rem;
    border-radius: 8px;
    transition: .5s;
}
.hero .content button:hover{
    background-color: rgb(17, 141, 224);
    color: #f2f2f2;
    border: none;
    padding: 10px 32px;
    margin: 0 2rem;
    border-radius: 8px;
    transition: .5s;
}
.hero img{
   width: 50%;
}

/* Standard Curriculum style */

.curriculum{
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.curriculum h1{
    font-size: 3.5rem;
    text-align: center;
    padding: 4rem 0;
}
.curriculum .box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    box-sizing: border-box;
}

.curriculum .box .card{
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
.curriculum .box .card:hover{
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.curriculum .box .card img{
    height: 100px;
    width: 100px;
}
.curriculum .box .card h3{
    font-size: 1.8rem;
    padding: 1.5rem 0;
}
.curriculum .box .card p{
    height: 8rem;
    line-height: 2rem;
    padding: 1.5rem 0;
}
.curriculum .box .card a{
    text-decoration: none;
    font-weight: bold;
}
.curriculum .box .x{
    background-image: linear-gradient(to bottom, rgba(135, 206, 235, 0.4) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    border: 1px solid rgba(0, 105, 252, 0.2);
}
.curriculum .box .y{
    background-image: linear-gradient(to bottom, rgba(0, 128, 0, 0.4) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    border: 1px solid rgba(0, 105, 252, 0.2);
}
.curriculum .box .z{
    background-image: linear-gradient(to bottom, rgba(149,0,142, 0.4) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 100%);
    border: 1px solid rgb(149,0,142, 0.2);
}
.curriculum .pagination{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 3rem;
}
.curriculum .pagination i{
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: orange;
    border-radius: 50%;
    padding: 20px;
    color: #ffffff;
}


/* stories style */

.stories{
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 196, 0, 0.181)), url('../assets/bg.png');
    padding: 1rem 0;
}
.stories h1{
    font-size: 3.5rem;
    text-align: center;
    padding: 1rem 0;
}
.stories .stories-btn button{
    background-color: black;
    color: #f2f2f2;
    border: none;
    padding: 0.8rem 3rem;
    margin: 0 2rem;
    border-radius: 8px;
    transition: .5s;
}
.stories .stories-btn button:hover{
    background-color: rgb(17, 141, 224);
    border: none;
    color: #f2f2f2;
    padding: 0.8rem 3rem;
    margin: 0 2rem;
    border-radius: 8px;
    transition: .5s;
}
/* left box */
.stories .stories-box{
    display: flex;
    gap: 1.2rem;
    margin: 2rem 0;
}
.stories .stories-box .box{
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.8rem;
}

.stories .stories-box .box img{
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
}
.stories .stories-box .box .inner-box{
    padding: 0 2rem;
}
.stories .stories-box .box .inner-box .btn-text{
    background-color: rgb(47, 155, 198);
    color: #f2f2f2;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 2rem;
    border: none;
    position: relative;
    top: -1.9rem;
}
.stories .stories-box .box .inner-box .h3-text{
    font-size: 1.5rem;
    padding: 0.5rem 0 1.5rem 0;
}
.stories .stories-box .box .inner-box p{
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0 4rem 0;
}
.stories .stories-btn{
    margin: 3rem;
    text-align: center;
}




/* right box */

.stories .stories-box .box2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
    width: 50%;
}
.stories .stories-box .box2 .card{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.8rem;
}
.stories .stories-box .box2 .card .btn-text{
    background-color: skyblue;
    color: #f2f2f2;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 2rem;
    border: none;
    position: relative;
    top: -1.9rem;
}
.stories .stories-box .box2 .card h3{
    padding: 0 1rem;
}
.stories .stories-box .box2 .card img{
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
}
.stories .stories-box .box2 .card .inner-box2{
    padding: 0 0.5rem;
    line-height: 1.5rem;
}


/* footer style */

footer{
    background-color: #0b96d7;
}
footer .items{
    padding:5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
footer .items .s-logo{
    grid-column: span 2;
    width: 70%;
}
footer .items .footer-box .f-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
footer .items .footer-box .f-logo >img{
    background-color: #f2f2f2;
    border-radius: 50%;
    padding: 10px;
    height: 3rem;
    width: 3rem;
}
footer .items .footer-box .f-logo h2{
    color: #f2f2f2;
}
footer .items .footer-box p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 0;
}
footer .items .footer-box h3{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
footer .items .footer-box ul li{
    list-style: none;
    transition: .5s;
}
footer .items .footer-box ul li:hover a{
    padding: 20px;
    color: yellow;
    transition: .3s;
}

footer .items .footer-box ul li a{
    text-decoration: none;
    color: #f2f2f2;
}
footer .items .as ul li{
    padding: 0.5rem 0;
}
footer .items .kit ul{
    display: flex;
    gap: 0.5rem;
}
footer .items .kit ul li{
    box-sizing: border-box;
    transition: 1s;
}
footer .items .kit ul li:hover img{
    width: 60px;
    height: 60px;
    transition: 1s;
}








/* mobile responsive */

@media screen and (max-width: 576px){
    body{
        background-color: #ffffff;
    }
    /* header responsive */
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid orange;
        padding: 0.5rem;
    }
    header nav{
        display: none;
    }
    header .m-img{
        display: block;
        height: 2.5rem;
        width: 2.5rem;
    }
    header .dd i{
        display: block;
        font-size: 1.5rem;
    }

    /* hero responsive */
    .hero{
        flex-direction: column;
        justify-content: center;
    }
    .hero .content {
        max-width:100%;
        text-align: center;
        order: 1;
    }
    .hero .content .title{
        font-size: 2rem;
    }
    .hero img{
        width: 90%;
        margin: 1rem;
    }


    /* curriculum responsive */
    
    .curriculum h1{
        font-size: 2rem;
        padding: 5rem 0 2rem 0;
    }
    .curriculum .box{
        grid-template-columns: repeat(1, 1fr);
    }
    .curriculum .box .card{
        margin:0 1rem;
        box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .curriculum .pagination{
        display: none;
    }



    /* curriculum responsive */

    .stories .stories-box .box{
        display: none;
    }
    .stories .stories-box .box2{
        width: 100%;
        padding: 0 2rem;
    }
    .stories .stories-box .box2 .card .btn-text{
        font-size: 0.8rem;
    }

    /* footer responsive */

    footer .items{
        display: block;
        padding: 5rem 1.5rem;
    }
    footer .items .s-logo{
        grid-column: span 2;
        width: 100%;
    }
    footer .items .as{
        padding: 2rem 0;
    }
}